@use '../../../../styles/base' as *;

.article-container {
    width: 100%;

    color: $blue;

    h2 {
        font-weight: 400;
    }

    .read-more-btn {
        font-size: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
